version: '3.9'

services:
  db:
    image: postgres:14-alpine
    container_name: postgresql
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data: